venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env
Second Brain/.obsidian/workspace
Second Brain/.obsidian/workspace.json
Second Brain/.obsidian/workspace.json~Stashed changes
Second Brain/.obsidian/workspace.json
*.png
*.png
